In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv

In [3]:
covidtotal = pd.read_csv("Resources/summary_time_series_covid_19_US.csv") 
covidtotal.head()

,Date,Total US Deaths,CA Deaths,NY Deaths,Total US Cases,CA Cases,NY Cases
0,Break 0: 1/22/20-4/22/20,616979.0,16638.0,292382.0,13180275.0,551275.0,4613818.0
1,4/29/20,403663.0,12157.0,160289.0,6810004.0,306726.0,2034333.0
2,5/6/20,497416.0,15676.0,178783.0,8151923.0,385362.0,2236786.0
3,5/13/20,580102.0,19166.0,193343.0,9358238.0,473227.0,2368695.0
4,5/20/20,650134.0,22815.0,203720.0,10468322.0,561755.0,2466093.0